{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    <title>Сервис для прохождения тестов</title>
</head>
<body>
    <div id="content">
        {% if user.is_authenticated %}
            <div id="logout" style="float: right;">
                <span 
                    style="margin-right: 15px; display: inline; font-size: 20px; padding-top: 5px;"
                >
                    {{user.username}}
                </span>
                <button class="red">
                    <a href="/auth/logout">Выйти</a>
                </button>
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
