{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">
                <button class="positive_green">1</button>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}">
                <button class="positive_green">Назад</button>
            </a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <button class="positive_green">Вперёд</button>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">
                <button class="positive_green">{{ page_obj.paginator.num_pages }}</button>
            </a>
        {% endif %}

        <span class="current">
            Стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
    </span>
</div>
{% endblock pagination %}
