{% extends "base/base.html" %}
{% block content %}
<div id="login-form">
    <h1>Привет!</h1>
    <p>У тебя уже есть аккаунт?</p>
    <a href="/auth/login/">
        <button class="positive_green">Да</button>
    </a>
    <a href="/auth/sign-up">
        <button class="red">Нет</button>
    </a>
</div>
{% endblock %}