{% extends "base/base.html" %}
{% block content %}
<div id="login-form">
    {% if error %}
    <div class="red" style="padding: 10px 10px;">{{ error }}</div>
    {% endif %}
    <form action="." method="post">
        <div >
            {{ form.as_p }}
            {% csrf_token %}
        </div>
        <p><input type="submit" value="Зарегистрироваться"></p>
    </form>
</div>
{% endblock %}