{% extends "base/base.html" %}
{% block content %}
    <div id="answer-form">
        <h1>{{question}}
            <span id="progress">
                {% if done %}{{done}}{% else %}0{% endif %}
                /
                {{all}}
            </span>
        </h1>
        <form action="." method="post">
            {% csrf_token %}
            {% for variant in answers %}
                <label for="answer-{{variant.id}}" class="answer-variant">
                    <input type="checkbox" name="answer-{{variant.id}}" id="answer-{{variant.id}}">
                    {{variant.answer}}
                </label>
                <br>
            {% endfor %}
            <p><button type="submit">Ответить</button></p>
        </form>
        <a href="/tests/{{test.id}}/questions/{{next_question.id}}/skip"><button>Пропустить</button></a>
    </div>
{% endblock %}