{% extends "base/base.html" %}
{% block content %}
{% include "base/pagination.html" with page_ob=page_obj %}

{% for test in page_obj %}

    {% if test.is_active %}
    <a href="{{test.id}}" id="test-{{test.id}}">
        <h2>{{test.name}}</h2>
        <p>{{test.description}}</p>
    </a>
    {% else %}
    <a href="#" id="test-{{test.id}}">
        <h2 style="color: rgb(190, 190, 190);">{{test.name}}</h2>
        <p style="color: rgb(190, 190, 190);">{{test.description}}</p>
    </a>
    {% endif %}

{% endfor %}

{% include "base/pagination.html" with page_ob=page_obj %}
{% endblock %}

