{% extends "base/base.html" %}
{% block content %}
<div style="margin-left: auto; margin-right: auto; display: block; width: 400px; text-align: center;">
    <h1 style="color: rgb(42, 165, 48); font-weight: bold;">Ура!</h1>
    <p>Tест "{{test}}" завершён</p>
    <p>Результат: {{correct_value}}% верных ответов</p>
    <br>
    <a href="/tests"><button class="positive_green">Перейти к другим тестам</button></a>
</div>
{% endblock %}