{% extends "base/base.html" %}
{% block content %}
    <a href="/tests">
        <button class="red">Вернуться</button>
    </a>
    <div>
        <h2>{{test.name}}
        </h2>
        <span>
            <span>
                Ответили на 
                {% if done %}{{done}}{% else %}0{% endif %} 
                из 
                {{all}}
                вопросов
            </span>
            <br>
        </span>
        <p class="test_description close" onclick="document.querySelector()">{{test.description}}</p>
        {% if next_question %}
        <a href="questions/{{next_question.id}}">
            <button class="positive_green">{% if done == 0 %}Начать!{% else %}Продолжить{% endif %}</button>
        </a>
        {% else %}
        <a href="done">
            <button class="positive_green">Завершить</button>
        </a>
        {% endif %}
        <script>
            const description = document.querySelector(".test_description")
            description.addEventListener("click", function(event){
                event.target.classList.toggle("close")
                event.target.classList.toggle("open")
            })
        </script>
    </div>
{% endblock %}