*{
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(233, 233, 238);
    backdrop-filter: blur(100px);
    
}
h1{
    margin-left: -25px;
}
input, button{
    width: 100%;
    padding: 12px 20px;
    outline: none;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: #095353;
    background-color: #94c3d8;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 7px 7px 7px rgb(124, 124, 124);
}
input[type=submit], button{
    background-color: #2A7B7A;
    border-color: #070a12;
    font-size: 22px;
    font-weight: medium;
}
button{
    width: auto;
}
.red{
    background-color: brown;
}
.positive_green{
    background-color: rgb(42, 165, 48);
}

a{
    text-decoration: none;
    color: black;
}
#content{
    padding: 15px 50px;  
}
#login-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label[for=id_username],
label[for=id_password],
label[for=id_password1],
label[for=id_password2],
label[for=id_email],
label[for=id_code]{
    float: left;
}

.test_description{
    text-overflow: ellipsis;
}
.test_description:hover, button:hover, input[type=submit]{
    cursor: pointer;
}
.open{
    width: auto;
    height: auto;
}
.close{
    width: 200px;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input[type=checkbox]{
    width: auto;
    display: inline;
    box-shadow: none !important;
    border: none !important;
}

.answer-variant:hover{
    cursor: pointer;
    margin-right: 5px;
}

#progress{
    font-size: 20px !important;
    color:rgb(189, 189, 189) !important;
}